obj
bin
ipch
debug
release
testresults
artifacts
.vs
InprotechOutput
.build
*.user
*.suo
*.Cache
*.cache
*.bak
*.ncb
*.log 
*.sdf
*.opensdf
*.press
*.DS_Store
*.trx
*.dotCover
Local.Testsettings
*.vsmdi
Thumbs.db 
thumbs.db 
_ReSharper.*
*.resharper
*\_ReSharper.*
Storage/Profiles
Binaries
ClientBin
TempImgFolder
*.DotSettings
StandaloneInterfaces
[pP]ackages
*.DotSettings
**/[Cc]ontent/[Cc]ss/*.css
**/[Cc]ontent/[Cc]ss/**/*.css
*.vsp
*.orig
*.nupkg