@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: normal;
  src: url(../fonts/OpenSans-CondLight.ttf);
}

@font-face {
  font-family: 'Oswald';
  font-weight: normal;
  src: url(../fonts/Oswald-Regular.ttf);
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  background-color: #ECF0F1;
}

h2, h3, h4{
    font-family: 'Open Sans Condensed';
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
}

h4{
    font-size: 1.5em;
}

h1, h3{
    margin-top: 20px;
    margin-bottom: 3px;
}

pre{
    background-color: #f8f8f8;
    border: none;
}

.footer{
    margin-left: 40%;
    margin-top: 50px;
    color: #777;
    font-size: 0.5em;
}

.navbar{
    background: #2C3E50;
    color: #ECF0F1;
}

.navbar h1{
    font-family: Oswald;    
    font-size: 2em;
}

.navbar p
{
    font-size: 0.7em;
}

.navbar-right a.icon-link:link, a.icon-link:active, a.icon-link:visited, a.icon-link:hover{
    font-size: 2.5em;
    color:#fff;
}

.anchor{
    position: relative;
    top: -160px;
    height: 1px;
    display: block;
}